{% extends "base.html" %}

{% block content %}

<h1>
    {{ profile.full_name }}
</h1>

<p>
    {{ profile.email }}
</p>

<div class="stats-grid">

    <div class="stat-card">
        <h3>Level</h3>
        <h2>{{ stats.level }}</h2>
    </div>

    <div class="stat-card">
        <h3>Total XP</h3>
        <h2>{{ stats.total_xp }}</h2>
    </div>

    <div class="stat-card">
        <h3>Best WPM</h3>
        <h2>{{ stats.best_wpm }}</h2>
    </div>

    <div class="stat-card">
        <h3>Total Tests</h3>
        <h2>{{ stats.total_tests }}</h2>
    </div>

</div>

<br>

<h2>Achievements</h2>

<div class="stats-grid">

{% for achievement in achievements %}

<div class="stat-card">

    <h3>
        {{ achievement.achievement_name }}
    </h3>

    <p>
        {{ achievement.badge }}
    </p>

</div>

{% endfor %}

</div>

{% endblock %}