{% extends "base.html" %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/reset_password.css') }}">
{% endblock %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <h1>Reset Password</h1>

        <p>
            Create a new password for your account.
        </p>

        <form method="POST">

            <input
                type="password"
                name="password"
                placeholder="New Password"
                required
            >

            <button type="submit">
                Update Password
            </button>

        </form>

        <div class="auth-links">

            <a href="/">
                Back to Login
            </a>

        </div>

    </div>

</div>

{% endblock %}